body {
    background-image: url('../images/dadpipe.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black; /* Black outline */
  }
  
  h1 {
    margin-top: 20vh;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #joke {
    font-size: 24px;
    margin-top: 20px;
  }
  